.currency-card--container {
    width: 100%;
    min-height: 70px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 10px 35px -10px rgba(70, 68, 105, 0.36);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
}